/* @import url('./website/app/styles/css/x/styles.css');
@import url('./website/app/styles/css/preloader.css'); */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700,800,1000&display=swap');

.saifas-people {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.saifas-people > .saifas-people__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
}

.saifas-people > .saifas-people__btn > .button-text {
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  transition: .3s;
}

.saifas-people > .saifas-people__btn > .button-text:hover {
  transition: .3s;
  cursor: pointer;
  background-color: var(--contact-icon);
  color: var(--background);
  transition: .3s;
}

.profile-buttons__block {
  margin-top: 10px;
}

.profile-buttons__block > .profile-buttons__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 0;
  margin-bottom: 30px;
}

.profile-buttons__block > .profile-buttons {
  display: flex;
  flex-direction: row;
}

.profile-buttons__block > .profile-buttons > .profile-buttons__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--contact-icon);
  border-bottom: 1px solid var(--contact-icon);
  height: 40px;
  padding: 10px 10px 10px 20px;
  transition: .3s;
}

.profile-buttons__block > .profile-buttons > .profile-buttons__btn:hover {
  cursor: pointer;
  background-color: var(--contact-icon);
  color: var(--background);
  transition: .3s;
}

.profile-buttons__block > .profile-buttons > .profile-buttons__btn:hover > .btn__text {
  color: var(--background);
  transition: .3s;
}

.profile-buttons__block > .profile-buttons > .profile-buttons__btn > img {
  position: absolute;
  left: 10px;
}

.profile-buttons__block > .profile-buttons > .profile-buttons__btn > .btn__text {
  color: var(--contact-icon);
}

.profile-buttons__block > .profile-buttons > .disabled {
  opacity: .3;
  pointer-events: none;
  cursor: default;
}

@media (max-width: 800px) {
  .profile-buttons__block > .profile-buttons > .profile-buttons__btn > img {
    position: relative;
    left: 0;
    padding-bottom: 10px;
  }
  .profile-buttons__block > .profile-buttons > .profile-buttons__btn {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
