.team .thumbnail {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}
.team .thumbnail:hover .social {
  z-index: 5;
}
.team .thumbnail:hover .social a {
  color: #fff;
}
.team .thumbnail .mask {
  background: var(--primary);
}
.team .thumbnail .mask h2 {
  margin-top: 60%;
}
.team .thumbnail .mask,
.team .thumbnail .mask h2,
.team .thumbnail .mask h3,
.team .thumbnail .mask p,
.team .thumbnail:hover h2,
.team .thumbnail:hover h3,
.team .thumbnail:hover .social a:hover {
    color: #181A17;
}
.team .thumbnail .mask img {
  z-index: -1;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team .span2, .team .span3, .team .span4 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
  margin-bottom: 30px;
}
.team .span2, .team .span3 {
  max-width: 23%;
}
.team .span2 .thumbnail .mask h2 {
  margin-top: 40%;
}
.team .span3 .thumbnail .mask h2 {
  margin-top: 60%;
}
@media (max-width: 767px) {
  .team .span2, .team .span3 {
    max-width: 100%;
  }
}
